body {
  background-color: #eee;
  font-family: proxima-nova;
}

#header {
  position: fixed;
  top: 0;
  background-color: #eee;
  width: 100%;
  z-index: 1;
}

.mainContent {
  margin-top: 70px;
}

.moneyPic {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.homeTitle {
  color: white;
  font-size: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeTitle p {
  font-size: 30px;
  text-align: center;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  padding: 10px;
  width: 200px;
  margin-top: 5px;
}

.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: absolute;
  right: 0;
}

.nav-item {
  margin: 15px !important;
  opacity: 0.7;
  font-style: 17px;
  border-bottom: 1px solid #eee;
}

.nav-item:hover {
  opacity: 1;
  border-bottom: 1px solid black;
}

.nav-item:active {
  opacity: 1;
  border-bottom: 1px solid black;
}

.nav-link {
  color: #000 !important;
}

.home {
  padding-top: 0;
  padding-bottom: 0;
}

.about {
  background-color: #000 !important;
  color: #DDD !important;
}

.about p {
  font-size: 17px;
}

.partners {
  background-color: #FFF;
}

.contact {
  background-color: #eee !important;
}

.profilePic {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 25px;
}

.partnerRow {
  text-align: center;
}

.col-sm-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 25px !important;
}

.col-md-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 25px !important;
}

.col-lg-4 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.col-sm-12 h2 {
  font-size: 4rem !important;
}

.col-md-12 h2 {
  font-size: 4rem !important;
}

.col-lg-10 h2 {
  font-size: 2rem !important;
}

.partnerCol {
  position: relative;
  text-align: center;
  opacity: 1;
}

.partnerCol:hover {
  position: relative;
  text-align: center;
  opacity: 1;
  img {
    opacity: 0.7 !important;
  }
  .bio {
    opacity: 1;
  }
}

.partnerCol:hover img {
  opacity: 0.7 !important;
}

.partnerCol:hover div {
  opacity: 1 !important;
}

.bio {
  position: absolute;
  width: 90% !important;
  color: white;
  font-weight: 400;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-sm-12 .bio {
  font-size: 40px !important;
}

.col-md-12 .bio {
  font-size: 40px !important;
}

.col-lg-4 .bio {
  font-size: 16px !important;
}

.partnerName {
  color: black !important;
  font-weight: 500 !important;
}

.col-sm-12 .partnerName {
  font-size: 35px !important;
}

.col-md-12 .partnerName {
  font-size: 35px !important;
}

.col-lg-4 .partnerName {
  font-size: 18px !important;
}

.partnerName:hover {
  color: black !important;
}

.partnerTitle {
  color: black !important;
  font-weight: 400 !important;
}

.col-sm-12 .partnerTitle {
  font-size: 20px !important;
}

.col-md-12 .partnerTitle {
  font-size: 20px !important;
}

.col-lg-4 .partnerTitle {
  font-size: 15px !important;
}

.contactUs {
  text-align: center;
}

.footer {
  text-align: center;
  align-content: center;
  display: flex;
  border-top: 1px solid #c1c1c1;
}

.footerCol {
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.footerCol p {
  font-size: 12px;
  display: inline-flex;
}

.linkedinLogo {
  width: 15px;
  height: 15px;
  margin-left: 7px;
  margin-bottom: 1px;
}
