body {
  background-color: #fbf7f7;
  font-family: proxima-nova;
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  top: 0;
  background-color: #eee;
  width: 100%;
  z-index: 1;
}

.logo {
  padding: 10px;
  width: 200px;
  margin-top: 5px;
}

.lucaTitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lucaTitle i {
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
}

.lucaTitle .admin {
  opacity: 0.5;
  font-size: 15px;
}


.fa-bars {
  font-size: 33px;
  margin-top: 17px;
  margin-bottom: 17px;
  float: right;
  color: #2b2b2b;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #e8e8e8;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2b2b2b;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where width is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media and (max-width: 800px) {
  .sidenav {padding-top: 15px !important;}
  .sidenav a {font-size: 18px !important;}
  .homeTitle {top: 10% !important;}
  p {font-size: 28px !important;}
} */

.mainContent {
  margin-top: 110px;
}

.mainContent img {
  height: 450px;
  width: 100%;
}

.entireFundChart {
  margin: 10px;
  border: 1px solid gray;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mainFeatures {
  position: relative;
  text-align: center;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-left: 1px solid gray;
}

.mainFeatures h3 {
  margin-bottom: 30px;
}

.request-button .btn {
  position: relative;
  border: 0;
  margin: 20px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
  overflow: auto;
}

.request-button .btn-primary {
  width: 75%;
  color: #fff !important;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 14px;
  font-size: 18px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  height: 45px;
  opacity: 1;
  margin-top: 0;
}

.tools {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sectorRow {
  padding-left: 15px;
}

.distributions {
  border: 1px solid black;
  margin: 5px;
  width: 80%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #eee;
}

.distributions i {
  font-style: normal;
}

.sectorName {
  padding-right: 10px;
  font-size: 17px;
}

.sectorPercent {
  padding-left: 10px;
  font-weight: 600;
}

.subheaderTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}
